/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 1190px;
    }
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Main page view */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    overflow:hidden;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    .header {
      margin-bottom: 30px;
    }
    .jumbotron {
      border-bottom: 0;
    }
  }

/* Customize footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}